django==4.1.5
django_ratelimit
openai
bs4
requests
django-cors-headers
django-import-export
python-dotenv
mysqlclient==2.0.3
html2text
readability
selenium
urllib
langdetect
re
time
numpy
tldextract
nltk
fake_useragent
PyPDF2==2.5.0
pinecone-client
transformers
tensorflow
torch